.about_main{
    position: relative;
    overflow: hidden;
    && .about_mainBG{
        position: absolute;
        z-index: 1;
        right: 10%;
        transform: scaleX(-1) translateY(-10%);
        &&::after {
            content: '';
            position: absolute;
            width: 150%;
            height: 200%;
            right: 92%;
            top: -100%;
            background: var(--innerBlackBg);
            filter: blur(48px);
            z-index: 1;
            transform: rotate(-3deg);
        }
    }
    && .about_mainMain{
        grid-column: 2;
        text-align: center;
        margin-bottom: 0;
        padding: var(--sectionPadding) 0;
        text-align: left;
        display: grid;
        position: relative;
        grid-template-columns: repeat(2, 1fr);
        && *:not(.about_mainGradBg){
            z-index: 2;
            position: relative;
        }
        && .about_mainGradBg{
            position: absolute;
            left: -38%;
            top: -82%;
            width: 150%;
            height: 300%;
            filter: blur(50px);
            transform: rotate(15deg);
            z-index: 1;
            background-color: var(--innerBlackBg);
            pointer-events: none;
            user-select: none;
        }
        && .mainBtn{
            margin: 0;
            margin-right: auto;
            min-width: 50%;
            text-align: center;
        }
    }
}

@media (max-width: 768px){
    .about_main{
        && .about_mainBG{
            right: 10%;
            transform: scaleX(-1) translateY(10%) scale(1.5);
            &&::after{
                display: none;
            }
        }
        && .about_mainMain{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            && .mainBtn{
                margin: 0 auto;
            }
            && div{
                grid-row: 2;
            }
            && .about_mainGradBg{
                filter: blur(20px);
                transform: unset;
                top: -20%;
                left: -25%;
            }
        }
    }
    }