.htu{
    && h2{
        margin-bottom: 32px;
    }
}
.htu > div:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.htu > div:last-child > div {
    display: grid;
    grid-template-columns: 0.5fr 2.4fr;
    gap: 3vw;
    flex-direction: row;
    padding: 30px;
    background-color: var(--innerBg);
    border-radius: var(--brad);
    overflow: hidden;
}


.htu > div:last-child > div p:last-child {
    margin-bottom: 0;
}
.htu > div:last-child > div > div > p:last-child {
    color: var(--ultraDark50) !important;
}
.htu > div:last-child > div > p:last-child {
    color: var(--ultraDark50) !important;
}
.htu > div:last-child > div > div:first-child p:first-child,
.htu > div:last-child > div > p:first-child {
    /* background-color: var(--accent);
    border-radius: var(--brad); */
    font-weight: 700 !important;
    color: var(--textMain) !important;
    margin-bottom: 0;
    justify-self: center;
    aspect-ratio: 1 / 1;
    text-align: center;
    line-height: 100%;
    box-sizing: content-box;
}

.htu_number{
    background-color: var(--accent);
    box-sizing: border-box;
    border-radius: var(--brad);
    width: 52px;
    height: 52px;
    min-width: 52px;
    min-height: 52px;
    justify-content: center;
    display: flex
;

}


.htu > div:last-child > div > div:first-child p:first-child,
.htu > div:last-child > div > p:last-child {
    max-width: 90%;
}

@media(max-width: 768px){
    .htu > div:last-child > div, .htu > div:last-child > div:nth-child(3) div{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 24px;
}
}

.htu > div:last-child > div:nth-child(3) > div:nth-child(2) img {
    width: 90% !important;
}

.htu-step{
    background: var(--accent);
    color: var(--textMain);
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    max-height: 100px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    align-self: center;
}

@media (max-width: 974px) {
    .htu > div:last-child {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 20px;
        align-items: center;
    }
}
@media (max-width: 768px) {
    .htu > div:last-child {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
     
    .htu h2{
        margin-bottom: 16px!important;
    }
    .htu > div:last-child > div{
        padding: 16px;
    }

    .htu-step{
        margin: 0 auto;
    }
}