#gallery .wrapper{
    margin-bottom: 0;
}

.gallery{
    cursor: grab;
}

.galleryWrapper{
    background: var(--innerBg);
    padding: var(--sectionPadding);
    border-radius: var(--brad);
    position: relative;
    &&::after{
        content: '';
        height: 4px;
        width: 100%;
        background-color: var(--bg);
        top: 50%;
        left: 0;
        position: absolute;
    }
    && .gallery img{
        border-radius: var(--brad);
        border: 4px solid var(--bg)
    }
    && .galleryControls{
        position: absolute;
        top: calc(50% - 32px);
        left: -32px;
        height: 64px;
        width: calc(100% + 64px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        && .arrow{
            height: 64px;
            width: 64px;
            background: var(--innerBg);
            border-radius: 50%;
            border: 4px solid var(--bg);
            z-index: 2;
            transition: var(--transitionMain);
            && img{
                min-height: 100%;
                min-width: 100%;
            }
            &&:hover{
                scale: 1.04;
                cursor: pointer;
                box-shadow: 0px 0px 12px 5px var(--accentHover);
            }
            &&:active{
                scale: 0.96;
                box-shadow: 0px 0px 12px 12px var(--accentHover);
            }
        }
    }
}

@media (max-width: 768px) {
    .galleryControls{
        width: 100%!important;
        left: 0!important;
        && .arrow{
            &&:hover{
                scale: none !important;
                box-shadow: 0px 0px 0px 0px var(--accentHover)!important;
            }
            &&:active{
                scale: none !important;
                box-shadow: 0px 0px 12px 12px var(--accentHover)!important;
            }
    }
}
    
}
.gallery {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    max-width: 98%;
    overflow: hidden;
    position: relative;
    border-radius: var(--brad);
    background-color: var(--bg);
    padding: 16px;
    &&::after{
        content: '';
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        border-radius: var(--brad);
        left: 0;
        top: 0;
        position: absolute;
        z-index: 2;
        border: var(--bg) 4px solid;
        ;
        background: linear-gradient(90deg,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 1) 100%);
    }
}

.gallery > .swiper-wrapper {
    max-height: unset !important;
    align-items: stretch !important;
}

.gallery .swiper-slide {
    height: unset !important;
    border-radius: var(--bradMed);
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.gallery .swiper-slide img {
    aspect-ratio: 1/1.5;
    max-height: 400px;
}
.resultControls {
    width: 85%;
}
.resultControls > div {
    background-color: transparent !important;
}
.resultControls > div img {
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
}
@media (max-width: 1024px) {
    .gallery::after {
            background: linear-gradient(94deg, var(--bg), rgba(1, 14, 1, 0) 20%, rgba(1, 14, 1, 0) 80%, var(--bg) 100%);
    }
}
@media (max-width: 768px) {
    .resultControls {
        display: flex;
        width: 117%;
    }
    .gallery .swiper-slide {
        width: 74%;
    }
    .resultControls {
        display: none;
    }
}
