#partners{
    padding: var(--sectionPadding);
    background-color: var(--innerBlackLighterBg);
    border-radius: var(--brad);
}

.partnerContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.partnerLogo{
    display: block;
    height: min(150px, 12rem);
    width: min(150px, 12rem);
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--bg, white);
    border: var(--accent, blue) 4px solid;
    transition: var(--transitionMain);
    position: relative;
    &&:after{
        position: absolute;
        content: '';
        width: 75%;
        height: 75%;
        background-color: var(--accent);
        filter: blur(25px);
        opacity: 0.6;
        top: 12.5%;
        left: 12.5%;
        border-radius: 50%;
        z-index: 1;
    }
}

.partnerLogo:hover, .partnerLogo:active{
    scale: 1.04;
    box-shadow: inset 0px 0px 100px 0px var(--accent, blue);
    /* background: var(--accent); */
}

.partnerLogo img{
    height: 100%;
    object-fit: contain;
    z-index: 2;
    position: relative;
}

@media (max-width: 768px){
    .partnerContainer{
    flex-direction: column;
    gap: 20px;
}
}