.special_offer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: stretch;
    justify-content: space-between;
    border-radius: var(--brad);
    gap: 48px;
    padding: var(--sectionPadding);
    background: var(--innerBg);
    min-height: 400px;
    && .special_offerInfo{
        height: fit-content;
        align-self: center;
        && p{
            margin-bottom: 0;
            text-align: center;
        }
        && h2{
            text-align: center;
        }
    }
}

.special_offer > div {
    flex: 1 1 50%;
}

.special_offer > img{
    border-radius: var(--brad);
}

.special_offer img{
    border-radius: var(--brad);
    overflow: hidden;
}
.special_offer > div:last-child img {
    /* object-position: 50% 20%; */
}
.special_offerRev {
    flex-direction: row-reverse;
}
.special_offerRev > div:first-child > div {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.special_offerImageContainer {
    border-radius: var(--brad);
    overflow: hidden;
    /* max-height: 640px; */
}
.special_offerImageContainer .swiper-slide {
    display: flex;
    flex-direction: row;
    gap: 6px;
    max-width: 100%;
}

.special_offerImageContainer .swiper-slide > * {
    flex: 1 1 50%;
}

@media (max-width: 1100px) {
    .refferal_img {
        display: none;
    }

    .special_offer > div:last-child{
        aspect-ratio: unset;
    }
}

@media (max-width: 768px) {
    .special_offer {
        grid-template-columns: 1fr;
        flex-direction: column;
        padding: var(--sectionPadding);
        gap: 1.2rem;
        max-width: 76%;
        min-height: unset;
        && .special_offerInfo{
            padding: 0;
        }
    }

    .special_offer p{
        margin-bottom: 0;
    }

    .special_offer > div {
        width: 100%;
        flex: 1 1 100% !important;
        padding: var(--sectionPadding);
        max-width: fit-content;
    }
    .special_offer > div:first-child {
        margin-top: 24px;
    }
    .special_offer > div:first-child > div {
        flex-direction: column;
    }
    .special_offer > div:first-child > a {
        max-width: 100%;
    }
    .special_offer div:last-child{
        display: none;
    }

    .special_offer div:first-child{
    aspect-ratio: 1/1;
    padding: 0;
    margin: 0;
    }

}