.why {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    gap: 24px;
    align-items: center;
    position: relative;
    z-index:1;
    &&::before{
        content: '';
        position: absolute;
        height: 76%;
        width: 70%;
        left: 0;
        top: 0;
        border: 10px rgba(189, 0, 206, 0.349) dotted;
        border-radius: 30%;
        transform: translateX(21%) translateY(14%);
        z-index: -2;
    };
    &&::after{
        content: '';
        position: absolute;
        height: 50%;
        width: 300%;
        left: -50%;
        top: 25%;
        background-color: var(--altAccent);
        filter: blur(50px);
        user-select: none;
        z-index: -1;
    };
}

.why div:not(:first-child) p{
    margin-top: 16px;
}

.why span{
    color: var(--textMain) !important;
    font-weight: 700 !important;
    font-size: 30px;
    margin-bottom: 16px;
}
.why > h2,
.why > p {
    text-align: center;
}

.why > div:nth-child(2){
    grid-column: 1;
    grid-row: 2;
    border-color: var(--accent);
}

.why > div:nth-child(3){
    grid-column: 2;
    grid-row: 3;
}

.why > div:nth-child(4){
    grid-column: 2;
    grid-row: 1;
}

.why > div:last-child{
    grid-row: 2;
    grid-column: 3;
    border-color: var(--accent);
}

.why > div{
    display: flex;
    flex-direction: column-reverse;
    border-radius: 50%;
    padding: 16px;
    height: fit-content;
    justify-self: center;
    align-self: center;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    border: 4px solid var(--altAccent);
    width: 300px;
    height: 300px;
    background-color: var(--bg);
}

.why > div img{
    width: 60px;
    justify-self: center;
    align-self: center;
    order: 1;
    object-fit: contain;
}

.why h2{
    margin: 0;
}

/* .why > div div:first-child{
    width: 350px;
} */

.why > div:first-child{
    position: relative;
    flex-direction: column;
    grid-column: 2/3;
    grid-row: 2/3;
    width: unset;
    height: unset;
    border-radius: var(--brad);
    border: 0px solid rgba(206, 0, 172, 0.705);
    background-color: none;
}

.why > div:last-child > div > div:first-child {
    height: 100%;
}

.why p{
        margin-bottom: 0;
        gap: 0px
    }

@media (max-width: 768px) {
    .why {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr repeat(4, 0.5fr);
        gap: 16px;
        &&::before{
            display: none;
        }
        &&::after{
        content: '';
        position: absolute;
        height: 70%;
        width: 10%;
        left: 45%;
        top: 25%;
        background-color: var(--altAccent);
        filter: blur(10px);
        user-select: none;
        z-index: -1;
    };    
    }

    .why > div{
        grid-column: 1!important;
        grid-row: auto!important;
        width: 80%;
        aspect-ratio: 1/1;
        height: auto;
        padding: 0;
    }
    .why > div:last-child > div > div:last-child {
        max-width: 80px;
        min-width: 80px;
        max-height: 80px;
        min-height: 80px;
    }

    .why > div:first-child{
        padding: 0;
        text-align: left;
        width: 80%;
        aspect-ratio: unset;
    }

}