.about_main {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: space-between;
    border-radius: var(--brad);
    gap: 48px;
    padding: var(--sectionPadding);
    background: var(--innerBg);
}

.about_main > div {
    flex: 1 1 50%;
}
.about_main > div:first-child {
    flex: 1 1 50%;
    max-height: fit-content;
    margin: auto 0;
}
.about_main > div:last-child {
    aspect-ratio: 1.5/1;
    border-radius: var(--brad);
}

.about_main img{
    border-radius: var(--brad);
    overflow: hidden;
}
.about_main > div:last-child img {
    /* object-position: 50% 20%; */
}
.about_mainRev {
    flex-direction: row-reverse;
}
.about_mainRev > div:first-child > div {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.about_mainAddition {
    border-radius: var(--brad);
    overflow: hidden;
    /* max-height: 640px; */
}
.about_mainAddition .swiper-slide {
    display: flex;
    flex-direction: row;
    gap: 6px;
    max-width: 100%;
}

.about_mainAddition .swiper-slide > * {
    flex: 1 1 50%;
}

@media (max-width: 1100px) {
    .refferal_img {
        display: none;
    }

    .about_main > div:last-child{
        aspect-ratio: unset;
    }
}

@media (max-width: 768px) {
    .about_main {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        gap: 0;
        max-width: 76%;
    }

    .about_main p{
        margin-bottom: 0;
    }

    .about_main > div {
        width: 100%;
        flex: 1 1 100% !important;
        padding: var(--sectionPadding);
        max-width: fit-content;
    }
    .about_main > div:first-child {
        margin-top: 24px;
    }
    .about_main > div:first-child > div {
        flex-direction: column;
    }
    .about_main > div:first-child > a {
        max-width: 100%;
    }
}