.heroGrid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    padding: 10% 0;
    && .heroInfo{
        position: relative;
        display: grid;
        grid-template-rows: 1fr 1fr auto;
        gap: 16px;
        grid-row: 2/5;
        && span{
            color: var(--accent);
        }
        && p {
            max-height: fit-content;
            margin-bottom: 0;
        }
        && .mainBtn{
            min-width: 50%;
            text-align: center;
            margin: 0;
            margin-right: auto;
        }
        && h1{
            margin-top: auto;
        }
        && span{
            font-size: inherit;
        }
        && .heroGradient{
            position: absolute;
            background-color: var(--bg);
            left: -50%;
            top: -10%;
            height: 120%;
            width: 300%;
            z-index: -1;
            filter: blur(20px);
        }
    }
    && .heroSwiper{
        width: 100%;
        grid-column: 2;
        grid-row: 1/6;
        cursor: grab;
        background-color: var(--innerBlackLighterBg);
        border-radius: var(--brad);
        padding: 1.5rem;
        position: relative;
        && .swiper-slide{
            border-radius: var(--brad);
            overflow: hidden;
            display: flex;
            flex-direction: row;
        
            && img{
                width: 50%;  
            }
        }
        &&:active{
            cursor: grabbing;
        }
    }

    && .heroarrow{
        position: absolute;
        height: 64px;
        width: 64px;
        background-color: var(--bg);
        border: var(--innerBlackLighterBg) 4px solid;
        top: calc(50% - 32px);
        left: 8px;
        z-index: 2;
        transition: var(--transitionMain);
        border-radius: 50%;
        &&.right{
            right: 8px;
            left: unset;
        }
        &&.left img{
            transform: scaleX(-1);
        }
        &&:hover{
            scale: 1.04;
            cursor: pointer;
            box-shadow: 0px 0px 12px 5px var(--accentHover);
        }
        &&:active{
            scale: 0.96;
            box-shadow: 0px 0px 12px 12px var(--accentHover);
        }
    }
}

@media (max-width: 768px) {
    .heroGrid{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        && .heroarrow{
            height: 48px;
            width: 48px;
            top: calc(50% - 24px);
        }
        && .heroInfo{
            grid-row: 2;
            grid-column: 1;
            justify-content: center;
            grid-template-rows: auto;
            && h1{
                margin: 0 auto;
                max-width: fit-content;
                text-align: center;
            }
        && .mainBtn{
            margin: 0 auto;
        }
        } 
        && .heroSwiper{
            grid-row: 1;
            grid-column: 1;
        } 
        
    }
}

.hero{
    position: relative;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 28px 27px var(--bg) inset;
    && .heroBg{
    position: absolute;
    z-index: -1;
    max-height: 100%;
    width: 100%;
}
}