.hero {
            background-color: var(--innerBlackBg);
            /* padding: var(--sectionPadding); */
        }

        .hero div.wrapper {
            display: grid;
            grid-template-columns: 0.2fr 1fr 1fr;
            grid-template-rows: 0.4fr 1fr 0.6fr;
            gap: 8px;
            margin-bottom: 0;
        }

        .hero div.heading{
            grid-column: 2;
            grid-row: 2;
            gap: 2rem;
            position: relative;
            z-index: 5;
            &&::after{
                content: '';
                position: absolute;
                width: 175%;
                height: 175%;
                left: -37.5%;
                top: -37.5%;
                background: radial-gradient(circle, var(--bg) 0%, var(--bg)30%, rgba(236, 184, 105, 0) 60%);
                z-index: -1;
            }
        }

        .hero div div:first-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .heading .mainBtn{
            justify-self: center;
            align-self: center;
            margin: 0 auto;
        }

        .sub_h1 {
            margin-bottom: 0;
        }

        h1 {
            line-height: 100%;
        }



   .hero{
            position: relative;
            z-index: 1;
        }

        .hero_img{
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            && img{
                object-position: 70% 25%;
            }
        }

        .hero_img.right{
            &&::after{
                content: '';
                left: 0;
                top:0;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 5;
                background: linear-gradient(180deg,var(--bg) 0%, rgba(236, 195, 105, 0) 5%, rgba(236, 195, 105, 0) 95%, var(--bg) 100%);;
            }
        }

        .hero_img.left{
            left: unset;
            right: 9%;
            bottom: -7.5%;
            top: unset;
            width: 40%;
            z-index: 1;
            min-width: 275px;
            && img{
                object-fit: contain;
                filter: sepia(0.2)
            }
            &&::after{
                content: '';
                left: 0;
                bottom: 7%;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 5;
                background: linear-gradient(180deg, rgba(236, 195, 105, 0) 96%, rgba(236, 190, 105, 0.658) 100%);
                pointer-events: none;
                user-select: none;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            justify-self: center;
            align-self: center;
        }

        .heading .mainBtn {
            align-self: flex-start;
            width: 70%;
            text-align: center;
        }

        

        @media(max-width: 768px) {
            .hero div {
                display: grid;
                grid-template-columns: 1fr;
                gap: 8px;
                padding: 0 0.2rem;
            }

            .heading .mainBtn {
                align-self: center;
            }

            .heading p,
            .heading h1 {
                text-align: center;
            }

            .hero_img{
                height: 69%;
                && img{
                    object-position: 90% 50%;
                }
            }

            .hero_img.right{
                &&::after{
                    position: absolute;
                    width: 100%;
                    height: 50%;
                    /* background-color: red; */
                    left: 0;
                    top: 60%;
                    content: '';
                    background: linear-gradient(0deg, var(--bg) 75%, rgba(0, 0, 0, 0) 90%);
                }
            }

        }