.htu > div:last-child {
    flex: 1 1 46%;
}

.htu-img{
    grid-column: 2;
    grid-row-start: 1;
    grid-row: 1/4;
    max-height: 350px;
    width: 100%;
    object-position: 50% 28%;
    min-height: 100%;
    border-radius: var(--brad);
}

@media (max-width: 768px){
    .htu-img{
        display: none;
    }
}

.htu > div:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.htu > div:last-child p {
    font-family: inherit;
}

.htu > div:last-child > div {
    flex: 1 1 48.5%;
    display: flex;
    gap: 2vw;
    flex-direction: row;
    padding: 30px;
    background-color: var(--innerBg);
    border-radius: var(--brad);
    overflow: hidden;
}

.htu > div:last-child > div p{
    align-self: center;
}

.htu > div:last-child > div p:last-child {
    margin-bottom: 0;
}
.htu > div:last-child > div > div > p:last-child {
    color: var(--ultraDark50) !important;
}
.htu > div:last-child > div > p:last-child {
    color: var(--ultraDark50) !important;
}
.htu > div:last-child > div > div:first-child p:first-child,
.htu > div:last-child > div > p:first-child {
    /* background-color: var(--accent);
    border-radius: var(--brad); */
    font-weight: 700 !important;
    color: var(--textMain) !important;
    margin-bottom: 0;
    justify-self: center;
    aspect-ratio: 1 / 1;
    text-align: center;
    line-height: 100%;
    box-sizing: content-box;
}

.htu_number{
    background-color: var(--accent);
    box-sizing: border-box;
    border-radius: var(--brad);
    width: 52px;
    height: 52px;
    min-width: 52px;
    min-height: 52px;
    justify-content: center;
    display: flex
;

}


.htu > div:last-child > div > div:first-child p:first-child,
.htu > div:last-child > div > p:last-child {
    max-width: 90%;
}
.htu > div:last-child > div:nth-child(3) {
    /* grid-row: span 3; */
    /* padding: initial; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

@media(max-width: 768px){
    .htu > div:last-child > div, .htu > div:last-child > div:nth-child(3) div{
    gap: 3vw;
}
}

.htu > div:last-child > div:last-child > div:first-child {
    padding: 30px 0 30px 30px;
    z-index: 2;
    max-width: 236px;
    min-width: 222px;
}

.htu > div:last-child > div:nth-child(3) > div:nth-child(2) {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: -32px;
}
.htu > div:last-child > div:nth-child(3) > div:nth-child(2) img {
    width: 90% !important;
}

.htu > div:last-child > div:nth-child(3) p {
    /* color: black !important; */
    z-index: 10;
}
.htu > div:last-child > div:nth-child(3) > img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}

.htu-step{
    background: var(--accent);
    color: var(--textMain);
    min-width: 52px;
    min-height: 52px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

@media (max-width: 974px) {
    .htu > div:last-child {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }
}
@media (max-width: 768px) {
    .htu > div:last-child {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .htu > div:last-child > div:nth-child(3) > div:nth-child(2) {
        display: none;
    }
    .htu > div:last-child > div:nth-child(3) > img {
        display: none;
    }
    .htu > div:last-child > div > div:first-child p:first-child,
    .htu > div:last-child > div > p:first-child {
        /* margin-bottom: 24px; */
    }
}