.partner:not(:first-child){
    margin-top: 1.5rem;
    background: var(--bg);
    
}

.partnersContainer{
    display: grid;
    grid-template-rows: auto auto;
    border-radius: var(--brad, 16px);
    max-width: 960px;
    justify-self: center;
}

.partnersContainer h3{
    max-height: min-content;
    align-self: center;
}

.partnersContainer .imgContainer{
    border-radius: var(--brad, 16px);
    /* padding: 1rem; */
    background: var(--innerBlackBg);
}

.partnerHeading{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: middle;
    padding: 1% 2.5%;
    background: var(--innerBlackBg, blue);
    border-radius: var(--brad, 16px) var(--brad, 16px) 0 0;
}

.mainInfo{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 32px;
}



.partnersContainer .partnerHeading{
    /* border-radius: var(--brad, 16px); */
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.partnerHeading a{
    max-width: 200px;
    align-self: center;
    /* max-height: fit-content; */
    padding: 0.5rem!important;
}

.partnersContainer .partner:first-child{
    background: var(--innerBlackBg, lightgrey);
    border-radius: var(--brad, 16px);
}

.partnerInfo{
    padding: 1.5rem;
    list-style: circle;
    background: var(--innerBg);
    border-radius: 0 0 var(--brad, 16px) var(--brad, 16px);
}

.partnerInfo b{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: 500;
}
.partnerInfo ul{
    margin: 16px 0 32px;
}

.partnerInfo ul li{
    font-family: "Poppins", sans-serif;
    list-style: circle;
    margin-left: 1.1rem;
}

.partnerInfo ul li::marker{
    color: var(--accent, blue)
}

.paymentList{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 16px;
}
.paymentList div{
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    background-color: #fff;
    border-radius: 50%;
}

.imgContainer{
    display: flex;
    align-items: space-between;
    justify-content: center;
}

.imgContainer div{
    display: flex;
    height: 50px;
    min-width: 50px;
    aspect-ratio: 1/1;
    justify-self: center;
    margin: auto;
    border-radius: var(--brad, 16px);
    background: var(--accent, white);
    justify-content: center;;
}

.imgContainer .counter{
    margin: 0;
    justify-self: center;
    align-self: center;
    color: var(--bg);
    text-align: center;
    vertical-align: middle;
}

.mainInfo{
    display: flex;
    gap: 50px;
}

.mainInfo p{
    margin-bottom: 0;
}

@media (max-width: 768px){
    .mainInfo{
        gap: 0;
        padding-bottom: 24px;
    }
    
    .imgContainer div{
        max-width: 50%;
    }

    .imgContainer .img{
        height: 80%;
    }

    .partnerHeading{
        padding: 0;
    }

    .partnerInfo{
        padding: 1rem;
    }

    .partnerInfo ul{
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }

    .partnerHeading a{
        display: none;
    }

    .partnerInfo b{
    font-size: 20px;
    }
}