html{
    max-width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*{
    box-sizing: border-box;
    &&::after, &&::before{
        pointer-events: none;
        user-select: none;
    }
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

.logo{
    width: 70px;
    height: 70px;
    background-color: var(--bg);
}
