 /* Models Section */
            .models__cards_container {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 16px;
            }
            .models__cards_container > div {
                background-color: var(--innerBg);
                border-radius: var(--brad);
                overflow: hidden;
                display: flex;
                flex-direction: column;
            }
            .models__cards_container .img-placeholder {
                background-color: var(--innerBlackBg);
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                
                font-family: inherit;
                min-height: 150px;
            }

            .img-placeholder img{
                max-height: 80px;
                max-width: 80px;
            }
             .models__cards_container .img-placeholder.dark {
                background-color: var(--innerBlackLighterBg);
             }
            .models__cards_container > div > div:last-child {
                padding: 30px;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
            }
            .models__cards_container h3 { text-align: left; margin-bottom: 15px; }
            .models__cards_container p { text-align: left; margin-bottom: 20px; }
            .models__cards_container .btn { 
                margin-top: auto; 
                max-width: 180px; 
                transition: var(--transitionMain);
                &&:hover{
                    color: var(--accent);
                }
            }