.faq>div {
    border-radius: var(--brad)
}

#faq{
    background-color: var(--innerBg);
    border-radius: var(--brad);
    padding: var(--sectionPadding);

}

.accord__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accord__item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 32px 64px;
    background-color: var(--innerBlackLighterBg);
    border-radius: var(--brad);
}

.accord__item h3,.accord__item p {
    margin-bottom: 0;
}

.accord__item>div:first-child>p {
    font-weight: 400;
    color: var(--mainText)!important;
    font-size: 24px!important;
    margin-bottom: 0
}

.accord__item>div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.accord__item>div:last-child {
    max-height: 0;
    visibility: hidden;
    transition: all .4s cubic-bezier(.075, .82, .165, 1)
}

.accord__item>div:last-child p {
    color: #aaaab4!important;
    text-align: left;
}

/* .accord__item:first-child{
    border-radius: var(--brad) var(--brad) 0 0;
}

.accord__item:last-child{
    border-radius: 0 0 var(--brad) var(--brad);
} */
.show {
    visibility: visible!important
}

.accord__item div + div {
    transition: max-height 0.3s ease;
    overflow: hidden;
    /* padding: 20px; padding будет учтен в scrollHeight */
    box-sizing: border-box; /* важно! */
}

.accord__item div + div p {
    transition: margin-top 0.3s ease;
    visibility: hidden;
    margin: 0;
}

.accord__item div + div.show p {
    visibility: visible;
    opacity: 1;
    padding: 0 1rem;
}

div.show{
    margin-top: 28px;
}

@media (max-width: 768px){
    .accord__item{
        padding: 32px 16px;
    }
}