:root {
    --bg: #00062e;
    --innerBg: #00136b;
    --innerBlackBg: #235c88;
    --innerBlackLighterBg: #001857;
    --accent: #00739a;
    --accentHover: #40d5ed;
    --textMain: #a2c6e4;
    --textP: #a2c6e4;
    --textPLighter: #a2c6e4;
    --textBtn: #a2c6e4;
}