:root {
     /*BG*/
    --bg: #1a1a1a;
    --innerBg: #353535e0;
    --innerBlackBg: #383838;
    --innerBlackLighterBg: #222222;

    /*ACCENT*/
    --accent: #8f0000;
    --accentHover: #be0000;
    
    /*TEXT*/
    --textMain: #fcf0f0;
    --textP: #c0c0c0;
    --textPLighter: #c9c9c9;
    --textBtn: #c0c0c0;
}