.galleryWrapper{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    && .galleryItem{
        border-radius: var(--brad);
        transition: all .4s cubic-bezier(.075, .82, .165, 1);
        aspect-ratio: 1/3;
        height: 100%;
        && img{
            object-position:top center;
            width: 100%;
            min-height: 100%;
            border-radius: var(--brad);
            object-fit: cover;
        }
        &&:hover{
                transform: scale(1.2);
                aspect-ratio: 1/2;
                box-shadow: 1px 1px 17px 14px var(--accentHover);
                z-index: 5;
        }
    }
}

@media (max-width: 768px){
    .galleryWrapper{
        display: grid;
        && .galleryItem{
        border-radius: var(--brad);
        transition: all .4s cubic-bezier(.075, .82, .165, 1);
        aspect-ratio: 1/1;
        height: 100%;
        &&:hover{
                transform: scale(1);
                aspect-ratio: 1/1;
                box-shadow: 1px 1px 17px 14px transparent;
                z-index: 1;
        }
    }
}
}