:root{
    --brad: 32px;
    --sectionPadding: 3rem;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--textMain)
}

h1{
    font-size: 48px;
    font-weight: 700;
}

h2{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

h3{
    font-size: 28px;
}

span, b{
    font-size: 24px;
}

a, p{
    font-size: 18px;
}

p{
    margin-bottom: 2.5rem;
}

@media (max-width: 768px){

:root{
    --sectionPadding: 1.5rem;
}

h1{
    font-size: 40px;
    font-weight: 700;
}

h2{
    font-size: 30px;
    font-weight: 500;
}

h3{
    font-size: 26px;
}

span, b{
    font-size: 22px;
}

p{
    font-size: 18px;
}
}

.logo{
    transition: all;
    transition: all .4s cubic-bezier(.075, .82, .165, 1);
}
.logo:hover{
    scale: 1.04;
}
