#special_offer{

    overflow: hidden;
    background: linear-gradient(90deg, var(--innerBg) 0%, var(--bg) 15%, var(--bg) 85%, var(--innerBg) 100%);
    && .wrapper{
        display: grid;
        position: relative;
        grid-template-columns: 1fr 0.8fr;
        width: 100%;
        margin-bottom: 0;
        && .special_offerInfo{
            padding: var(--sectionPadding) 0;
            height: 100%;
            z-index: 2;
            
        }
        && .specialImg{
           position: absolute;
           height: 100%;
           aspect-ratio: 1.3/1;
           width: auto;
           right: 0;
           top: 0;
           z-index: 1;
           &&::before{
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(90deg, var(--bg) 0% ,  rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, var(--bg) 100%);
           }
           && img{
            object-position: 50% 30%;
           }
        }

        && .mainBtn{
            min-width: 40%;
            margin-left: 0;
        }

    }
} 

@media (max-width: 768px){
    #special_offer{
        background: none;
        && .wrapper{
            grid-template-columns: 1fr;
            grid-template-rows: 85vw 1fr;
            && .specialImg{
            height: 60%;
            aspect-ratio: 1/1;
            width: 100%;
            height: auto;
            &&::before{
            background: linear-gradient(180deg,rgba(0, 0, 0, 0) 60%, var(--bg) 85%)
           }
            && img{
                border-radius: var(--brad);
            }
         }
        }
        && .special_offerInfo{
            grid-row: 2;
            padding-top: 0!important;
        }
        && .mainBtn{
            margin-left: auto!important;
        }
         
    }
}