.pricingContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 24px;
    && .pricingCard{
        background: var(--innerBg);
        display: flex;
        flex-direction: column;
        border-radius: var(--brad);
        &&:nth-child(2){
            background: var(--innerBlackLighterBg);
            && .pricingTop{
                && span, b{
                    border: 4px solid var(--accentHover);
                    border-bottom: unset;
                    background: var(--innerBlackLighterBg)
                }

                && b{
                background-color: var(--accentHover);
                color: var(--bg);
            }
            }
            && .pricingBottom{
                border-top: 4px solid var(--accentHover);
            }
        }      
        && .pricingTop{
            display: flex;
            flex-direction: column;
            && .pricingImage{
                aspect-ratio: 1/1;
                border-radius: var(--brad) var(--brad) 0 0;
                overflow: hidden;
                && img{
                    object-position: 50% 20%;
                }
                
            }
            && span, b{
                position: relative;
                z-index: 2;
                padding: 4px 8px;
                border-radius: 16px 16px 0 0;
                transform: translateY(-74px); 
                background: var(--innerBg);
                max-width: fit-content;
                margin: 0 auto;
                border: 4px solid var(--accent);
                border-bottom: unset;
            }

            && b{
                background-color: var(--accent);
                font-weight: 700;
            }

            
                
            } 
        }
        && .pricingBottom{
            padding: var(--sectionPadding);
            padding-bottom: 0px;
            transform: translateY(-78px);
            border-top: 4px solid var(--accent);
            && ul{
                display: flex;
                flex-direction: column;
                gap: 16px;
                && li{
                list-style:disc;
                list-style-position: inside;
                &&:nth-child(2n)::marker{
                    color: var(--accent);
                }
            }
            }
            
            
        }
    }

    @media (max-width: 768px){
        .pricingContainer{
            grid-template-columns: 1fr;
        }
    }
