.hero {
            background-color: var(--innerBlackBg);
            && p{
                text-align: left;
            }
        }

        .hero div.wrapper {
            display: grid;
            grid-template-columns: 0.1fr 2fr 2.5fr;
            grid-template-rows: 0.6fr 1fr 0.6fr;
            gap: 8px;
            margin-bottom: 0;
        }

        .hero div.heading{
            grid-column: 2;
            grid-row: 2;
            gap: 24px;
            position: relative;
            z-index: 5;
            &&::after{
                content: '';
                position: absolute;
                width: 175%;
                height: 175%;
                left: -37.5%;
                top: -37.5%;
                background: radial-gradient(circle, var(--bg) 0%, var(--bg)30%, rgba(236, 184, 105, 0) 60%);
                z-index: -1;
            }
        }

        .hero div div:first-child {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .heading .mainBtn{
            justify-self: center;
            align-self: center;
            margin-right: auto;
        }

        .sub_h1 {
            margin-bottom: 0;
        }

        h1 {
            display: block;
            line-height: 100%;
            /* perspective: 3000px;
            transform: translateZ(-500px) rotateX(30deg); */
            && span, b{
            font-size: inherit;
            font-weight: 800;
            text-transform: uppercase;
            text-shadow: 4px 4px 10px var(--accent);
            };
            && b{
                text-shadow: 4px 4px 10px var(--accentHover);
                margin-right: 4px;
            }
        }



   .hero{
            position: relative;
            z-index: 1;
        }

        .hero_img{
            position: absolute;
            height: 100%;
            width: 55%;
            right: 72px;
            top: 0;
            z-index: -2;
            && img{
                object-position: 30% 80%;
                width: 100%;
            }
        }

        .hero{
            &&::after{
                content: '';
                left: 0;
                top:0;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 4;
                background: linear-gradient(180deg,var(--bg) 0%, rgba(236, 195, 105, 0) 5%, rgba(236, 195, 105, 0) 95%, var(--bg) 100%),
                linear-gradient(92deg,var(--innerBg) 0%, var(--innerBlackLighterBg) 8%, var(--bg) 48%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0) 85%, var(--bg) 90%, var(--innerBg) 100%);
            }
        }

        .hero_img.left{
            left: unset;
            right: 9%;
            bottom: -7.5%;
            top: unset;
            width: 40%;
            z-index: 1;
            min-width: 275px;
            && img{
                object-fit: contain;
                filter: sepia(0.2)
            }
            &&::after{
                content: '';
                left: 0;
                bottom: 7%;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 5;
                background: linear-gradient(180deg, rgba(236, 195, 105, 0) 96%, rgba(236, 190, 105, 0.658) 100%);
                pointer-events: none;
                user-select: none;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            justify-self: center;
            align-self: center;
        }

        .heading .mainBtn {
            align-self: flex-start;
            width: 70%;
            text-align: center;
        }

        

        @media(max-width: 768px) {
            .hero{
                &&::after{
                    height: 100%;
                    transform: translateY(-1px);
                    background: linear-gradient(0deg, var(--bg) 35%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 97%, var(--bg) 99%);
                }
            }
            .hero div {
                display: grid;
                grid-template-columns: 1fr;
                gap: 8px;
                padding: 0 0.2rem;
            }

            .heading .mainBtn {
                align-self: center;
            }

            .heading p,
            .heading h1 {
                text-align: center;
            }

            .hero_img{
                height: 60%;
                width: 100%;
                left: 0;
                overflow: hidden;
                && img{
                    object-position: 50% 10%;
                    transform: translateY(-7%)
                }
            }

            .hero_img.right{
                &&::after{
                    position: absolute;
                    width: 100%;
                    height: 50%;
                    /* background-color: red; */
                    left: 0;
                    top: 60%;
                    content: '';
                    background: linear-gradient(0deg, var(--bg) 50%, rgba(0, 0, 0, 0) 80%);
                }
            }

            .hero div.wrapper{
                grid-template-columns: 1fr;
                grid-template-rows: 1.1fr 1fr 0.1fr;
            }

        }