.section-flex {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            align-items: start;
            gap: 24px;
            justify-content: space-between;
            flex-wrap: wrap;
            /* margin-bottom: 150px!important; */
        }

        .section-flex img{
        }

        .flexTextblock{
            z-index: 4;
            justify-self: center;
            align-self: center;
            margin: auto 0;
            grid-column: 2;
        }

        #infolist .wrapper{
            margin-bottom: 0;
        }

        .big_bg{
            position: absolute;
            width: 100%;
            height: 101%;
            left: -30%;
            top: -0.5%;
            z-index: 1;
            && img{
                object-position: 0% 20%;
            }
        }


        .section-flex.stretch {
            align-items: stretch
        }

        .section-flex {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
        }

        .section-flex {
            gap: 70px;
        }

        .section-flex div img {
            aspect-ratio: 1/2;
        }

        .section-flex.row-reverse {
            flex-direction: row-reverse
        }

        .step {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            gap: 24px
        }

        .step_flex {
            display: flex;
            align-items: center;
            gap: 12px
        }

        .step-number {
            background: var(--accent);
            color: var(--textMain);
            min-width: 52px;
            min-height: 52px;
            border-radius: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            position: relative;
            && .buoy{
                position: absolute;
                height: 100%;
                width: 100%;
                aspect-ratio: 1/1;
            }
        }

        .infowrapper{
            position: relative;
            && .box_shadow{
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                right: 0;
                z-index: 1;
                background: linear-gradient(180deg,var(--bg) 1%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 80%, var(--bg) 99%),
                linear-gradient(93deg,var(--bg) 0%, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 90%, var(--bg) 100%);       
                user-select: none;
                pointer-events: none;     
            }
        }

        .info-block .step-number {
            background: var(--acccent);
            color: var(--textMain) !important
        }

        .step-content h3 {
            margin-bottom: 12px !important;
            font-weight: 700;
        }

        .step-content p {
            margin: 0
        }

        .info .section-flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;
            justify-content: space-between;
            flex-wrap: wrap
        }

        .info-block .section-flex.reverse {
            flex-direction: column-reverse
        }

        .info__steps-container {
            display: grid;
            flex-direction: row;
            
            && .mainBtn{
                margin: 24px auto;
                min-width: 60%;
                text-align: center;
            }
        }

        

        .info__steps {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            align-self: center;
            position: relative;
            z-index: 3;
        }

        .info__steps-container a {
            max-width: 240px
        }

        .info-block h2+p {
            margin-bottom: 32px
        }

        .info-block img {
            border-radius: var(--brad)
        }

        @media (min-width: 768px) {
            .info__steps .step {
                flex: 1 1 40% !important
            }

            .info-block .info__steps-container {
                align-items: start
            }

            .info__steps-container {
                align-items: center
            }


        }

        @media (max-width: 1200px) {
            .info {
                padding: 60px 0
            }

            .step {
                flex-direction: column;
                align-items: start
            }

            .info .section-flex {
                align-items: start
            }

            .info .section-flex_second {
                flex-direction: column-reverse
            }

            .info .section-flex>* {
                flex: 0 1 100%
            }

            .info .sectionImg .desktop {
                display: none
            }

            .info .sectionImg .mobile {
                display: block
            }

            .info__steps .step {
                flex: 1 1 100%
            }

            .info-block .info__steps .step {
                flex: 1 1 100% !important
            }

            .info__steps{
                background: var(--innerBg);
                padding: var(--sectionPadding);
            }
        }

        @media (min-width: 1200px) {
            .info .sectionImg .desktop {
                display: block
            }

            .info .sectionImg .mobile {
                display: none
            }

            .info__steps .step {
                flex: 1 1 100% !important
            }

            .info__steps-container {
                align-items: start
            }

            .section-flex .mainBtn {
                align-self: flex-start;
            }
        }

        @media (max-width: 700px) {
            
            .section-flex div img {
                display: none;
            }

            .section-flex.column-reverse {
                flex-direction: column-reverse
            }

            .section-flex {
                gap: 0;
                align-items: start
            }

            .step-number {
                align-self: center;
            }

            .section-flex{
                padding-left: 0;
                padding-right: 0;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr;
            }

            .info__steps{
                && h2{
                    margin-left: auto;
                    margin-right: auto;
                }
                &&::after{
                    display: none!important;
                }
            }
        }